<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <add key="ConnectionName" value="寬頻連線"/>
        <add key="SmtpHost" value="msa.hinet.net"/>
        <add key="MailFrom" value="MyAutoMail@hinet.net"/>
        <add key="MailTo" value=""/>
    </appSettings>
</configuration>